<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.adobe.plugins.PushPlugin"
    version="1.2.2">

    <name>SMSPlugin</name>

  <asset src="SMS.js" target="SMS.js" />

	<platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
    		<plugin name="SMS" value="com.plugin.SMS.SMS" />
        </config-file>
    	
 		<source-file src="src/SMS/SMS.java" target-dir="src/com/plugin/SMS/" />
 	
    </platform>
	</plugin>
